<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>

		<!-- Where to publish -->
		<PublishDir>C:\Users\brian\OneDrive\EVE Stuff\EVE IPH Projects\EVE-SDE-Database-Builder-Upgrade\Root Directory\Latest Files\</PublishDir>

		<!-- Required for .NET SDK publish -->
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net10.0-windows</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>

		<!-- Required to actually copy files -->
		<SelfContained>true</SelfContained>
		<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>

		<!-- Your existing settings -->
		<PublishSingleFile>false</PublishSingleFile>
		<PublishTrimmed>false</PublishTrimmed>
		<PublishReadyToRun>false</PublishReadyToRun>
	</PropertyGroup>

</Project>
